/*----- ROOT VARIABLES -----*/
:root {
    --black: #1F1F1F;
    --white: #F8F8FA;
    --yellow: #F2B90A;
    --orange: #E97B20;
    --red: #DD2C25;
    --green: #68AC5D;
    --blue: #486DAD;
}


/*----- Hero Image -----*/
.bg-image {
    background-image: url('/static/images/hero.webp');
    background-size: contain;
    background-position: center;
    height: 400px;
    margin-top: 58px;
}

.mask {
    background-color: #1F1F1F60;
    height: 300px;
}

.hero-button {
    background: var(--yellow);
    color: var(--black);
}

/*----- Navbar & Footer -----*/

.navbar {
    background-color: var(--yellow);
}

.navbar-brand,
.nav-link,
.navbar-text{
    color: var(--black);
}


/*----- Terms & Privacy Page container -----*/

.policy-container {
    margin-top: 5rem;
    margin-bottom: 10rem;
}