{% extends 'base.html' %}

{% block content %}
    <!-- All the flag threads -->
    <div class="container">
        <h1 class="fs-3 text-center">Admin section: all flagged threads</h1>
        {% if threads %}
            <div class="allthread-box">
            {% for thread in threads %}
                <div class="card thread-box mt-3 mb-4">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="threads">
                                    <h5 class="bold">{{thread.subject}}</h5> 
                                    <small class="general-color">
                                        Posted by : {{ thread.author }} on 
                                        {% if thread.created_on %}
                                            {{ thread.created_on.strftime('%Y-%m-%d at %H:%M') }}
                                        {% endif %}
                                    </small>
                                    <p class="pt-1">{{thread.content}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="threads">
                                    <div class="view-more-button my-3">
                                        <a href="{{ url_for('thread', threadID=thread._id) }}" class="more-button button">VIEW THREAD</a>
                                    </div>
                                    <div class="delete-button my-3">
                                        <a href="{{ url_for('delete_thread_from_db', threadID=thread._id) }}" class="more-button button">REMOVE THREAD</a>
                                    </div>
                                    <div class="icons">
                                        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                                            <li class ="list-inline-item pl-5">
                                                <div class="text-center">
                                                    <div><i class="bi bi-chat-dots-fill"><em class="text-black">{{thread.posts}}</em></i> Posts</div> 
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
        <div class="card mt-3 mb-4">
            <div class="card-body text-center">
                <p class="text-center pt-2 text-capitalize general-color">No flagged threads</p>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- All the flagged posts -->
    <div class="container">
        <h1 class="fs-3 text-center">Admin section: all flagged posts</h1>
        {% if posts %}
            <div class="allthread-box">
            {% for post in posts %}
                <div class="card thread-box mt-3 mb-4">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="threads">
                                    <small class="general-color">
                                        Posted by : {{ post.author }} on 
                                        {% if post.posted_on %}
                                            {{ post.posted_on.strftime('%Y-%m-%d at %H:%M') }}
                                        {% endif %}
                                    </small>
                                    <p class="pt-1">{{post.content}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="threads">
                                    <div class="delete-button my-3">
                                        <a href="{{ url_for('delete_post_from_db', postID=post._id) }}" class="more-button button">REMOVE POST</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
        <div class="card mt-3 mb-4">
            <div class="card-body text-center">
                <p class="text-center pt-2 text-capitalize general-color">No flagged posts</p>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}