{% extends 'base.html' %}

{% block content %}

<header>
    <div class="container-fluid  allthreads-container">
      <div class="row ">
          <div class="col-12">
              <h2 class="header-text">Find your tribe, lose the language barrier </h2>
          </div>
      </div>
    </div>
</header>

<section>
    <h3 class="text-center header-content">ALL THREADS</h3>
        <div class="col-sm id-thread reply-button w-100">
            <div class="replybutton">
                <!-- Button trigger modal -->
                <button type="button" class="button reply" data-bs-toggle="modal" data-bs-target="#NewThreadModal">
                    Start New Thread
                </button>
            </div> 
        </div>

        <!-- Reply Modal Start -->
        <div class="modal fade" id="NewThreadModal" tabindex="-1" aria-labelledby="NewThreadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="NewThreadModalLabel">START NEW THREAD</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <form action="{{ url_for('add_thread_to_db') }}" method="POST">
                            <input type="hidden" name="author" value="{{user.username}}">
                            <label>Thread Subject</label>
                            <input class="form-control" type="text" name="subject" placeholder="subject">
                            <br>
                            <label>Thread content</label>
                            <br>
                            <textarea name="content" cols="40" rows="10" maxlength="200" class="textarea form-control" required="" id="content"></textarea>
                            <br>
                            <button type="submit" class="button reply">Start discussion</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reply Modal End -->
    </div>
    <div class="container">
        {% if threads %}
            <div class="allthread-box">
            {% for thread in threads %}
                <div class="card thread-box mt-3 mb-4">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="threads">
                                    <h5 class="bold">{{thread.subject}}</h5> 
                                    <small class="general-color">
                                        Posted by : {{ thread.author }} on 
                                        {% if thread.created_on %}
                                            {{ thread.created_on.strftime('%Y-%m-%d at %H:%M') }}
                                        {% endif %}
                                    </small>
                                    <p class="pt-1">{{thread.content}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="threads">
                                    <div class="view-more-button">
                                        <a href="{{ url_for('thread', threadID=thread._id) }}" class="more-button button">VIEW MORE</a>
                                    </div>
                                    <div class="icons">
                                        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                                            <li class ="list-inline-item pl-3">
                                                <a class="remove-style" href= "{{ url_for('report_thread', threadID=thread._id) }}">
                                                    <div class="text-center">
                                                        <div><i class="bi bi-flag-fill"><em class="text-black">Report Issue</em></i></div> 
                                                    </div>
                                                </a>
                                            </li>
                                            <li class ="list-inline-item pl-5">
                                                <div class="text-center">
                                                    <div><i class="bi bi-chat-dots-fill"><em class="text-black">{{thread.posts}}</em></i> Posts</div> 
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
        <div class="card mt-3 mb-4">
            <div class="card-body text-center">
                <p class="text-center pt-2 text-capitalize general-color">NO THREADS</p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 pt-3 text-center pb-5">    
            <a href="{{url_for('index')}}" role="button" class="btn back-btn">
            <i class="fas fa-angle-left left"></i> RETURN HOME 
            </a>
        </div>
    </div>
    
           

           
    </div>
</section>


{% endblock %}