{% extends 'base.html' %}

{% block content %}

<!-- Background image -->
<div class="p-5 text-center bg-image">
<div class="mask d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 hero-text">Found in Translation</h1>
      <h2 class="mb-3 hero-text">Find your tribe, lose the language barrier</h2>
      <a class="btn hero-button btn-lg" href="{{ url_for('login') }}" role="button">Sign up Now!</a>
    </div>
  </div>
</div>
</div>



<h3>Latest discussions</h3>

<p>Theres a topic for everyone at Found in Translation!</p>

{% for thread in threads %}

<ul style="list-style-type:none;">
    <li><a href="{{ url_for('thread', threadID=thread._id) }}">{{thread.subject}}</a></li>
    <li><a href="{{ url_for('delete_thread_from_db', threadID=thread._id) }}">[Delete]</a></li>
</ul>

{% endfor %}

<a href="{{ url_for('newthread') }}">Start new discussion</a>

{% endblock %}