{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>

<form action="{{ url_for('index') }}" method="POST">

    <label>Username</label>
    <input type="text" name="username" placeholder="Username">

    <label>Password</label>
    <input type="password" name="password" placeholder="Password">

    <label for="rememberMe"> Remember me</label>
    <input type="checkbox" name="rememberme">

    <button type="submit">Login</button>
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endwith %}

{% endblock %}