{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 bg-image">
    <div class="row pt-lg-5">
        <div class="col-12 col-lg-6 mx-auto py-5 card">
            <div class="col-12 text-center">
                <h1>Create an account with us!</h1>
            </div>
            <!-- Signup form start -->
            <form action="{{ url_for('signup') }}" method="POST" id="signup_form">
                <div class="my-3 text-center">
                    <label for="username" class="form-label">Username <i class="bi bi-person-plus-fill"></i></label>
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="email" class="form-label">Email Address <i class="bi bi-envelope-fill"></i></label>
                    <input type="text" name="email" id="email" placeholder="Email Address" class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="password" class="form-label">Password <i class="bi bi-key-fill"></i></label>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="password_conf" class="form-label">Confirm Password <i
                            class="bi bi-key-fill"></i></label>
                    <input type="password" name="password_conf" id="password_conf" placeholder="Confirm Password"
                        class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="language" class="form-label">Preferred language <i class="bi bi-globe"></i></label>

                    <select name="language" id="language" class="form-select" aria-label="Language selection"></select>

                    <!-- need default selection fixed-->
                    <img id="symbol" src="https://unpkg.com/language-icons/icons/en.svg" width="40" height="40" alt="">

                </div>
                <div class="my-3 text-center">
                    <label for="profile_img" class="form-label">Profile Image</label>

                    <div id="carouselExampleControls" class="carousel carousel-dark slide">
                        <div class="carousel-inner" id="carousel"> </div> 
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span> 
                        </button>
                    </div>


                </div>
                <div class="my-3">
                    <label for="terms" class="form-label">I agree to terms and conditions</label>
                    <input type="checkbox" name="terms" id="terms">
                </div>
                <div class="text-center">
                    <button class="btn hero-button btn-lg" type="submit">Sign Up</button>
                </div>
            </form>
            <!-- Signup form end -->
        </div>
        <div class="col-12 text-center mt-3">
            <p>
                Already have an account? Sign in <a href="{{ url_for('login') }}">HERE</a>
            </p>
        </div>
        <div class="text-center mt-3">
            <p>
                Return <a href="{{ url_for('index') }}">Home</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}

<!-- Page specific scripts -->
{% block scripts %}
<script src="{{url_for('static', filename='js/language_codes.js') }}"></script>
<script src="{{url_for('static', filename='js/dropdown.js') }}"></script>
<script src="{{url_for('static', filename='js/horscroll.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="{{url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}