{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 bg-image">
    <div class="row pt-lg-5">
        <div class="col-12 col-lg-6 mx-auto py-5 card">
            <div class="col-12 text-center">
                <h1>Create an account with us!</h1>
            </div>
            <!-- Signup form start -->
            <form action="{{ url_for('signup') }}" method="POST" id="signup_form">
                <div class="my-3 text-center">
                    <label for="username" class="form-label">Username <i class="bi bi-person-plus-fill"></i></label>
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="email" class="form-label">Email Address <i class="bi bi-envelope-fill"></i></label>
                    <input type="text" name="email" id="email" placeholder="Email Address" class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="password" class="form-label">Password <i class="bi bi-key-fill"></i></label>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="password_conf" class="form-label">Confirm Password <i
                            class="bi bi-key-fill"></i></label>
                    <input type="password" name="password_conf" id="password_conf" placeholder="Confirm Password"
                        class="form-control">
                </div>
                <div class="my-3 text-center">
                    <label for="language" class="form-label">Preferred language <i class="bi bi-globe"></i></label>

                    <select name="language" id="language" class="form-select" aria-label="Language selection">
                        <!-- <option selected value="en">English</option>
                        <option value="fr">French</option>
                        <option value="ro">Romanian</option> -->
                    </select>

                </div>
                <div class="my-3 text-center">
                    <label for="profile_img" class="form-label">Profile Image</label>
                    <div>
                        <input type="radio" name="profile_img" value="avatar1" class="form-check-input" checked>Avatar 1
                        image

                        <input type="radio" name="profile_img" value="avatar2" class="form-check-input">Avatar 2 image

                        <input type="radio" name="profile_img" value="avatar3" class="form-check-input">Avatar 3 image
                    </div>
                </div>
                <div class="my-3">
                    <label for="terms" class="form-label">I agree to terms and conditions</label>
                    <input type="checkbox" name="terms" id="terms">
                </div>
                <div class="text-center">
                    <button class="btn hero-button btn-lg" type="submit">Sign Up</button>
                </div>
            </form>
            <!-- Signup form end -->
        </div>
        <div class="col-12 text-center mt-3">
            <p>
                Already have an account? Sign in <a href="{{ url_for('login') }}">HERE</a>
            </p>
        </div>
        <div class="text-center mt-3">
            <p>
                Return <a href="{{ url_for('index') }}">Home</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}

<!-- Page specific scripts -->
{% block scripts %}
<script src="{{url_for('static', filename='js/language_codes.js') }}"></script>
<script src="{{url_for('static', filename='js/dropdown.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="{{url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}